* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Myfont';
    src: url('canilera.ttf'); 
    font-weight: normal;
    font-style: normal;
}


body {
    padding: 20px;
    background-color: #f5f5f5;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; 
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}


.blog-section {
    padding: 25px;
    margin-bottom: 15px;
    border-radius: 8px;
    color: white; 
}

.blog-section h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.blog-section p {
    font-family: 'Myfont', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
}
.red {
     background-color: #ff4d4d; }
.orange {
     background-color: #ff944d; }
.yellow {
     background-color: #e6b800; color: #111; } 
.green {
     background-color: #2ec4b6; }
.blue { 
    background-color: #0077b6; }
.indigo { 
    background-color: #3a0ca3; }
.violet {
     background-color: #7209b7; }
